<div class="dialog-content">
  <div class="content">
    <h2>Fejtájékra ható ászanák</h2>
    <div class="level-container">
      <label>Maximális szint: </label>
      <mat-slider class="slider" [max]="8" [min]="1" [step]="1" [thumbLabel]="true" (change)="changeLevel()"
                  [(ngModel)]="level">
      </mat-slider>
    </div>

  </div>

  <app-spinner #spinnerFirst (stopped)="stopped($event)" [size]="360" [data]="getData()"
               [color]="'#000000'"></app-spinner>

  <h2> {{ value ? value : '' }}</h2>
</div>
