.hand-container {
  position: absolute;
  transform: rotate(0deg);

  .pivot {
    position: relative;
    top: 10px;
    left: 45px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: blue;
    border-radius: 50%;
  }

  .hand {
    width: 100px;
    height: 20px;
    background: red;
    border-radius: 10px;
    position: relative;
    top: -5px;
    left: 40px;

    .hand-content {
      position: absolute;
      left: 40px;
      top: -5px;
    }
  }
}
