.content {
  padding: 10px 20px;

  .level-container {
    display: flex;
    align-items: center;

    .slider {
      width: 100%;
    }
  }

  p {
    span {
      font-weight: bold;
    }
  }

}

app-spinner {
  position: relative;
  left: calc(100vw / 2 - 380px / 2);
}
